* {
  margin: auto;
  box-sizing: border-box;
}

body {
  background: url(images/background-line2.jpg) no-repeat 95% 50%;
  background-position: center;
  background-size: cover;
}
main {
  background-image: url(images/background-line2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
