@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: auto;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background: url(images/bg-back.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

button {
  cursor: pointer;
}

main {
  position: relative;
  background-image: url(images/bg-principal.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1500px;
  height: 100vh;
  flex-direction: column;
}

/* Button Play */
main #playButton,
main #playButton:hover::after {
  padding: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  transition-duration: 250ms;
  transition-delay: 20ms;
  border: 2px solid rgba(0, 128, 0, 0.548);
  background-color: rgba(255, 190, 166, 0.856);
  z-index: 1;
  margin: auto;
  position: relative;
}

main #playButton:hover {
  background-color: rgba(0, 128, 0, 0.548);
  border: 5px solid rgba(99, 50, 4, 0.555);
  transform: scale(1.1);
  transition-duration: 250ms;
  transition-delay: 20ms;
}

/* Characters on button when hover */
.robotButton {
  position: absolute;
  visibility: hidden;
  top: -50px;
  left: -10px;
}

.dannyButton {
  position: absolute;
  visibility: hidden;
  top: -50px;
  left: 30px;
}

main #playButton:hover .robotButton {
  visibility: visible;
  animation: runRobot 3s 25;
}

main #playButton:hover .dannyButton {
  visibility: visible;
  animation: runDanny 2s 25;
}

@keyframes runDanny {
  0% {
    left: 20px;
  }
  50% {
    left: 320px;
  }
  100% {
    left: -30px;
  }
}

@keyframes runRobot {
  0% {
    left: 20px;
  }
  50% {
    left: 300px;
  }
  100% {
    left: -10px;
  }
}

/* Characters players */
.danny,
.robot {
  position: absolute;
}

.danny {
  top: 80vh;
  left: var(--position0);
}

.robot {
  top: 67vh;
  left: var(--position0);
}

/* Positions to move the line race */
:root {
  --position0: 3%;
  --position1: 25%;
  --position2: 50%;
  --position3: 75%;
  --position4: 100%;
}

/* Section buttons weapons */
.choices {
  display: none;
  margin-top: 120px;
  justify-content: center;
  margin: 10px auto;
}

/* Buttons weapons choices */
.choices button {
  font-size: 1rem;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.151);
}

.choices button:hover {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.082);
  background-color: white;
}

/* Sections with the text instructions */
.startText {
  display: none;
  padding: 10px 50px;
  margin: 120px auto;
  background-color: rgba(168, 214, 235, 0.555);
  border-radius: 15px;
}

.instructionsText {
  padding: 10px 50px;
}

.instructionsText h1,
.instructionsText p {
  margin: 10px;
}

h1 {
  font-size: 1.5rem;
}

.instructionsText p {
  font-size: 0.8rem;
  line-height: 20px;
}

/* Button after instructions to play game */
#start {
  padding: 10px 30px;
  font-size: 1rem;
  margin: auto;
  border-radius: 5px;
  transition-duration: 250ms;
  transition-delay: 20ms;
  border: 2px solid rgba(0, 128, 0, 0.548);
  background-color: rgba(255, 190, 166, 0.856);
}

main #start:hover {
  background-color: rgba(0, 128, 0, 0.89);
  border: 2px solid rgba(99, 50, 4, 0.555);
  color: white;
  transform: scale(1);
  transition-duration: 250ms;
  transition-delay: 20ms;
}

/* Div Section to display the result of the rounds */
.resultMessage {
  width: 600px;
  gap: 20px;
  line-height: 1.5;
  border-radius: 15px;
  width: 600px;
  color: gold;
  padding: 20px;
  text-align: center;
  line-height: 1.5;
}

/* Div section to display the Winner screen */
.winnerScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.trophy {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
}

.messageWinner,
.messageLoser {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 65%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.863);
  width: 600px;
  color: gold;
  font-size: 1rem;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  line-height: 20px;
}

/* Sandwich menu*/
.infosection #infobtn {
  background-color: rgba(128, 128, 128, 0);
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.infosection #infobtn:hover {
  transform: scale(1.5);
  transition: transform 200ms ease-in-out;
  -webkit-transition: transform 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out;
  -ms-transition: transform 200ms ease-in-out;
}

#infoText {
  padding: 30px;
  line-height: 1.4;
  z-index: 1;
  display: none;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  width: 90%;
  border-radius: 20px 0 20px 20px;
  border: 5px outset gold;
  position: fixed;
  top: 125px;
  right: 45px;
  background-color: white;
}

.links {
  gap: 15px;
}

#infoText.active {
  display: flex;
}

/* Mobile versions */
@media (max-width: 619px) {
  main {
    background-image: url(images/bgmobile.jpg);
    background-size: cover;
    min-width: inherit;
    max-width: inherit;
    height: inherit;
  }

  .danny {
    top: 80vh;
    bottom: -5vh;
  }

  .robot {
    top: 67vh;
    bottom: 5vh;
  }

  #playButton,
  .startText,
  .resultMessage {
    transform: scale(0.7);
  }

  .choices {
    transform: scale(0.9);
    flex-wrap: wrap;
  }
  .startText {
    margin: 0;
    padding: 20px;
    max-height: 800px;
    margin: -60px -30px;
  }

  .startText ul {
    padding: 0;
  }

  .resultMessage {
    padding: 0;
  }

  .messageWinner,
  .messageLoser,
  .trophy {
    transform: scale(0.8);
  }

  .trophy {
    left: 20%;
  }

  .messageLoser,
  .messageWinner {
    max-width: 80vw;
    margin-left: -40px;
  }

  #infobtn:hover {
    transform: scale(1);
  }

  .infosection #infobtn {
    top: 0;
    right: 0;
    transform: scale(0.7);
  }

  #infoText {
    transform: scale(0.8);
    right: 20px;
  }
}

@media (max-width: 510px) {
  .resultMessage {
    flex-direction: column;
    margin: -50px 0 -80px 0;
    width: auto;
  }
}

@media (max-width: 365px) {
  .choices {
    flex-direction: row;
  }
}

/* Alternative to phone with low height */
@media (max-height: 670px) {
  body {
    overflow: hidden;
  }

  main {
    background-position: bottom;
    height: 95vh;
  }
}
